[submodule "tridactyl/.config/tridactyl/themes"]
	path = tridactyl/.config/tridactyl/themes
	url = https://github.com/bezmi/base16-tridactyl
[submodule "awesome/.config/awesome/awesome-wm-widgets"]
	path = awesome/.config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/rowaaaaan/nvim-config
